/* dashboard.css */

/* Global styles */

    {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }

body {
font-family: 'Poppins', sans-serif;
background-color: #f8f8f8;
margin: 0;
padding: 0;
}

/* Header styles */
header {
background-color: #3c00a0;
color: #ffffff;
text-align: center;
padding: 20px;
position: fixed;
top: 0;
left: 0;
width: 100%;
z-index: 1;
}

header h1 {
font-size: 36px;
margin-bottom: 10px;
}

header p {
font-size: 18px;
}

/* Menu styles */
.menu-toggle {
display: none;
}

.menu {
background-color: #3c00a0;
color: #ffffff;
position: fixed;
top: 0;
left: -250px;
height: 100%;
width: 250px;
z-index: 2;
transition: all 0.3s ease-in-out;
}

.menu.active {
left: 0;
}

.menu ul {
list-style: none;
margin-top: 20px;
}

.menu ul li {
padding: 15px;
font-size: 20px;
cursor: pointer;
}

.menu ul li:hover {
background-color: #543887;
}

.menu ul li span {
margin-right: 10px;
}

.user-initials {
display: inline-block;
background-color: #ffffff;
color: #3c00a0;
border-radius: 50%;
width: 40px;
height: 40px;
text-align: center;
font-size: 24px;
margin-right: 10px;
}

/* Main content styles */
main {
max-width: 800px;
margin: 100px auto 0;
padding: 20px;
background-color: #f8f8f8;
text-align: center;
}

.events-list {
margin-top: 20px;
}

.events-list li {
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px;
border-bottom: 1px solid #d3d3d3;
}

.events-list li:last-child {
border-bottom: none;
}

.events-list li .event-info {
display: flex;
flex-direction: column;
align-items: flex-start;
}

.events-list li .event-info h2 {
font-size: 24px;
margin-bottom: 5px;
}

.events-list li .event-info p {
font-size: 16px;
color: #a9a9a9;
}

.events-list li .event-info small {
font-size: 12px;
margin-top: 5px;
color: #a9a9a9;
}

.events-list li .event-price {
font-size: 24px;
font-weight: bold;
color: #3c00a0;
}

.event-description {
font-size: 14px;
color: #a9a9a9;
margin-top: 5px;
}

/* Footer styles */
footer {
background-color: #3c00a0;
color: #ffffff;
text-align: center;
padding: 20px;
margin-top: 50px;
}
