*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container{
    width:100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    position: relative;
}

.form-box{
    width: 90%;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 50px 60px 70px;
    text-align: center;
}

.form-box h1{
    font-size: 30px;
    margin-bottom: 60px;
    color: #3c00a0;
    position: relative;
}

.form-box h1::after{
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: #3c00a0;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translate(-50%);
}

.input-group{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-field{
    background: rgba(234, 234, 234, 0.8);
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    width: 100%;
}

input{
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    padding: 18px 15px;
}

.input-field i{
    margin-left: 3px;
    margin-right: 12px;
    color: #999;
}

form p{
    text-align: left;
    font-size: 13px;
}

form p a{
    text-decoration: none;
    color: #3c00a0;
}

.btn-field{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

.btn-field button{
    width: 100%;
    background: #3c00a0;
    color: white;
    height: 40px;
    border-radius: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background 1s;
    margin-bottom: 10px;
}

.btn{
    background: #3c00a0;
    color: white;
}

#signinBtn{
    background: #ccc;
    color: #3c00a0;
}

