<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Eventicket Register</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <script src="https://kit.fontawesome.com/b48f23dc44.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container">
            <div class="form-box">
                <h1 id="form-title">Sign Up</h1>
                <form id="signup-form">
                    <div class="input-group">
                        <div class="input-field">
                            <i class="fas fa-user"></i>
                            <input type="text" placeholder="Name" name="name">                        
                        </div>

                        <div class="input-field">
                            <i class="fas fa-envelope"></i>
                            <input type="email" placeholder="Email" name="email">                        
                        </div>

                        <div class="input-field">
                            <i class="fas fa-lock"></i>
                            <input type="password" placeholder="Password" name="password">                        
                        </div>
                    </div>
                    <div class="btn-field">
                        <button type="submit">Sign up</button>
                        <button type="button" id="signinBtn" onclick="location.href='{{ url_for("login_user") }}';">Sign in</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>

