<!DOCTYPE html>
<html>
<head>
    <title>Evventing Create Event</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/create_event.css') }}">
</head>
<body>
    <header>
        <h1>Create Event</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('admin_dashboard') }}">Home</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <form action="{{ url_for('create_event') }}" method="POST" enctype="multipart/form-data">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
            <br>

            <label for="date">Date:</label>
            <input type="date" id="date" name="date" required>
            <br>

            <label for="time">time:</label>
            <input type="time" id="time" name="time" required>
            <br>

            <label for="price">Price:</label>
            <input type="number" id="price" name="price" min="0" step="0.01" required>
            <br>

            <label for="venue">Venue:</label>
            <input type="text" id="venue" name="venue" required>
            <br>

            <label for="description">Description:</label>
            <textarea id="description" name="description" required></textarea>
            <br>

            <label for="image">Image:</label>
            <input type="file" id="image" name="image" accept="image/*" required>
            <br>

            <label for="category">Category:</label>
            <select id="category" name="category">
                <option value="Music">Music</option>
                <option value="Sport">Sport</option>
                <option value="Conference">Conference</option>
                <option value="Party">Party</option>
                <option value="Theater">Theater</option>
                <option value="Show">Show</option>
                <option value="Show">Presentation</option>
                <option value="Other">Other</option>
            </select>
            <br>

            <button type="submit">Create Event</button>
        </form>
    </main>
    <footer>
        <p>&copy; 2023 Evventing</p>
    </footer>
</body>
</html>

