<!DOCTYPE html>
<html>
<head>
	<title>User Dashboard</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dashboard.css') }}">
</head>
<body>
	<header>
		<nav>
			<ul>
				<li><a href="{{ url_for('home') }}">Home</a></li>
				<li><a href="{{ url_for('user_events', user_id=user.id) }}">My Events</a></li>
				<li><a href="{{ url_for('user_tickets', user_id=user.id) }}">My Tickets</a></li>
                <li><a href="{{ url_for('user_profile', user_id=user.id) }}">Profile</a></li>
				<li><a href="{{ url_for('logout') }}">Logout</a></li>
			</ul>
		</nav>
	</header>

	<main>
        <section>
          <h2>Upcoming Events</h2>
          <ul class="event-list">
            {% if events %}
              {% for event in events %}
                <li class="event">
                  <div class="event-details">
              		<div class="event-image">
			            <img src="{{ url_for('static', filename='uploads/' + event.image) }}" alt="{{ event.name }}">
		            </div>
                    <h3 class="event-name"><a href="{{ url_for('event_detail', event_id=event.id) }}">{{ event.name }}</a></h3>
                    <p class="event-venue">{{ event.venue }}</p>
                    <p class="event-date">{{ event.date }}</p>
                    <p class="event-price">${{ event.price }}</p>
                    <a href="{{ url_for('buy_ticket', event_id=event.id) }}">Buy Ticket</a>
                  </div>
                  <div class="ticket-description">
                    {{ event.description[:50] }}... 
                    <a href="{{ url_for('event_detail', event_id=event.id) }}">Read More</a>
                  </div>
                </li>
              {% endfor %}
            {% else %}
              <p>No upcoming events.</p>
            {% endif %}
          </ul>
        </section>

        <section>
          <h2>Purchased Tickets</h2>
          <ul class="ticket-list">
            {% if tickets %}
              {% for ticket in tickets[::-1][:5] %}
                <li class="ticket">
                  <div class="ticket-details">
                    <h3 class="event-name">{{ event_name.get(ticket.event_id).name }}</h3>
                    <p class="event-venue">{{ event_name.get(ticket.event_id).venue }}</p>
                    <p class="ticket-date">{{ ticket.date }}</p>
                    <p class="ticket-price">${{ ticket.price }}</p>             
                  </div>
                  <div class="ticket-description">
                    {{ ticket.description[:50] }}... 
                    <a href="{{ url_for('user_tickets', user_id=user.id) }}">Read More</a>
                  </div>
                </li>
              {% endfor %}
            {% else %}
              <p>No purchased tickets found.</p>
            {% endif %}
          </ul>
        </section>

        <section>
          <h2>Purchased Events</h2>
          <ul class="myevent-list">
            {% if myevents %}
              {% for evnt in myevents[::-1][:5] %}
                <li class="event">
                  <div class="event-details">
                    <h3 class="event-name">{{ evnt.name }}</h3>
                    <p class="event-venue">{{ evnt.venue }}</p>
                    <p class="event-date">{{ evnt.date }}</p>
                    <p class="event-price">${{ evnt.price }}</p>
                  </div>
                  <div class="event-description">
                    {{ evnt.description[:50] }}... 
                    <a href="{{ url_for('user_events', user_id=user.id) }}">Read More</a>
                  </div>
                </li>
              {% endfor %}
            {% else %}
              <p>No purchased events found.</p>
            {% endif %}
          </ul>
        </section>

	</main>
    <footer>
      <p>&copy; 2023 Online Ticket System</p>
    </footer>
</body>
</html>

