<!DOCTYPE html>
<html>
<head>
	<title>{{ event.name }}</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='event_details.css') }}">
</head>
<body>
	<header>
		<nav>
			<ul>
				<li><a href="{{ url_for('home') }}">Home</a></li>
                {% if current_user %}
                    <li><a href="{{ url_for('user_profile', user_id=current_user.id) }}">Profile</a></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% else %}
                    <li><a href="{{ url_for('login_user') }}">Login</a></li>
                    <li><a href="{{ url_for('register_user') }}">Register</a></li>
                {% endif %}
			</ul>
		</nav>
	</header>
<main>
	<section class="event-details">
		<h1 class="event-name">{{ event.name }}</h1>
		<div class="event-image">
			<img src="{{ url_for('static', filename='uploads/' + event.image) }}" alt="{{ event.name }}">
		</div>
		<div class="event-info">
			<p class="event-venue"><strong>Venue:</strong> {{ event.venue }}</p>
			<p class="event-date"><strong>Date:</strong> {{ event.date }}</p>
			<p class="event-price"><strong>Price:</strong> ${{ event.price }}</p>
			<p class="event-description">{{ event.description }}</p>
			{% if user.id != event.user_id %}
				<form action="{{ url_for('buy_ticket', event_id=event.id) }}" method="post">
					<a href="{{ url_for('buy_ticket', event_id=event.id) }}" class="button">Purchase Ticket</a>
				</form>
			{% endif %}
		</div>
	</section>
</main>
<footer>
  <p>&copy; 2023 Online Ticket System</p>
</footer>
</body>
</html>
