<!DOCTYPE html>
<html>
<head>
	<title>My Events</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dashboard.css') }}">
</head>
<body>
	<header>
		<nav>
			<ul>
				<li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('user_profile', user_id=user.id) }}">Profile</a></li>
				<li><a href="{{ url_for('logout') }}">Logout</a></li>
			</ul>
		</nav>
	</header>

	<main>
		<h1>My Events</h1>

		{% if events %}
			<ul>
			{% for event in events %}
				<li>
					<h2><a href="{{ url_for('event_details', event_id=event.id) }}">{{ event.name }}</a></h2>
					<p><strong>Venue:</strong> {{ event.venue }}</p>
					<p><strong>Date:</strong> {{ event.date }}</p>
					<p><strong>Price:</strong> ${{ event.price }}</p>
				</li>
			{% endfor %}
			</ul>
		{% else %}
			<p>No events found.</p>
		{% endif %}

	</main>
</body>
</html>
